---
layout: default
title: "Подводная охота"
---

<h1 class="page-heading">Подводная охота</h1>

<ul class="post-list">
    {% for post in site.podvox %}
    <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="post-content-truncate">
          {% if post.content contains "<!-- more -->" %}
            {{ post.content | split:"<!-- more -->" | first % }}
          {% else %}
            {{ post.content | strip_html | truncatewords:100 }}
          {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>