<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Контакты</h3>
                <ul class="contact-list">
                    <li>{{ site.title }}</li>
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>Социальные сети</h3>
                <h3>
                    <a href="https://vk.com/aquastyl74"><i class="fa fa-vk"></i></a>
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-twitter"></i>
                </h3>

            </div>
            <div class="col-sm-4">
                <h3>{{ site.title }}</h3>
                &copy; 2014
            </div>
        </div>
    </div>
</footer>