<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <a class="navbar-brand" href="/">{{site.title}}</a>
            <li><a href="/about.html">О центре</a>
            </li>
            <li><a href="/partners.html">Наши партнеры</a>
            </li>
            <li><a href="/contacts.html">Контакты</a>
            </li>
            <li><a href="/price.html">Прайс</a>
            </li>
            <li><a href="/photos.html">Фотогаллеря</a>
            </li>
            <li><a href="/news.html">Новости</a>
            </li>
        </ul>
    </div>
</nav>