<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <a class="navbar-brand" href="/">{{site.title}}</a>
            <li><a href="/">Главная</a>
            </li>
            <li><a href="/about/">О центре</a>
            </li>
            <li><a href="/partners/">Наши партнеры</a>
            </li>
            <li><a href="/contacts/">Контакты</a>
            </li>
            <li><a href="#">Прайс</a>
            </li>
            <li><a href="#">Фотогаллеря</a>
            </li>
            <li><a href="/news">Новости</a>
            </li>
        </ul>
    </div>
</nav>